// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$daily-activities: #163847;
// rgba(22, 57, 72, 0.7)
$future-me: #E86266;
// rgba(232, 98, 102, 0.7)
$interactions: #54B8CB;
// rgba(84, 184, 203, 0.7)
$curiosity: #F2BC1D;
// rgba(242, 188, 29, 0.7)


// js: ["#F7DD4A", "#FA7B77", "#F49FBB",
//           "#FFB668"];

$dashboard: #FFFFFF;
$background: #F8D165;
// rgba(244, 243, 245, 1)

$navbar: #A1A0DC;
$scrollbar: #A1A0DC;


$bronze: #DCAD76;
$silver: #D2CDCA;
$gold: #F2DA41;


// ancienne $navbar: #8C8299;
// $scrollbar: #968DA2;

// #968DA2
// linear-gradient(to left, #fe8c00, #f83600)
// #8260a7
// #64B3C9
// #C779D0
// #762ca7
// #FEAC5E
// #FF512F
// #f83600
// #F42A4D
// #801336
// #FE0054
// #ED3B57
// #f4b400
// #FFCD3C
// #FFE75A
// #F09819
// #fe8c00
// #3930d8
// #86dde0
// #b2f2d8
// #55a19a
// #8ED3FD
// #00EFFF
// #03c0c6
// #35D0BA
// #00cc00
// #11b719
// #66cc99
// #7efe8e

// #dfbaf7
// #ffe6cc
// #ecffc1
// #b8ffd0
