// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$daily-activities: #F7DD4A;
// rgba(247, 221, 74, 1)
$future-me: #FA7B77;
// rgba(250, 123, 119, 1)
$interactions: #F49FBB;
// rgba(244, 159, 187, 1)
$curiosity: #FFB668;
// rgba(255, 182, 104, 1)


// js: ["#F7DD4A", "#FA7B77", "#F49FBB",
//           "#FFB668"];

$dashboard: #FFFFFF;
$background: #F4F3F5;
// rgba(244, 243, 245, 1)
$navbar: #8C8299;
// rgba(140, 130, 153, 1)
$scrollbar: #ffa5a5;

