// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$daily-activities: #A40E4C;
// rgba(247, 221, 74, 1)
$future-me: #05668D;
// rgba(250, 123, 119, 1)
$interactions: #D16014;
// rgba(244, 159, 187, 1)
$curiosity: #EEBA0B;
// rgba(255, 182, 104, 1)


// js: ["#F7DD4A", "#FA7B77", "#F49FBB",
//           "#FFB668"];

$dashboard: #FFFFFF;
$background: #F4F3F5;
// rgba(244, 243, 245, 1)

$navbar: #461220;
$scrollbar: #461220;


$bronze: #DCAD76;
$silver: #D2CDCA;
$gold: #F2DA41;


// ancienne $navbar: #8C8299;
// $scrollbar: #968DA2;

// #968DA2
// linear-gradient(to left, #fe8c00, #f83600)
// #8260a7
// #64B3C9
// #C779D0
// #762ca7
// #FEAC5E
// #FF512F
// #f83600
// #F42A4D
// #801336
// #FE0054
// #f4b400
// #FFCD3C
// #FFE75A
// #F09819
// #fe8c00
// #3930d8
// #86dde0
// #b2f2d8
// #55a19a
// #8ED3FD
// #00EFFF
// #03c0c6
// #35D0BA
// #00cc00
// #11b719
// #66cc99
// #7efe8e

// #dfbaf7
// #ffe6cc
// #ecffc1
// #b8ffd0