// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Signika:300,400,700&display=swap');

// Define fonts for body and headers
// $body-font: "Open Sans", "Helvetica", "sans-serif";
// $headers-font: "Raleway", "Helvetica", "sans-serif";

$body-font: "Comfortaa", "Helvetica", "cursive";
$headers-font: "Signika", "Helvetica", "sans-serif";

// font-family: 'Signika', sans-serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Comfortaa', cursive;
// font-family: 'Cookie', cursive;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
