.categories-wrapper {
  display: grid;
  grid-template-columns: 276px 276px;
  grid-gap: 40px;
  padding: 30px;
  height: 100%;
}

.category-challenge {
  background-size: cover;
  width: 200px;
  height: 200px;
}

.category {
  display: flex;
  justify-content: center;
}

.category:hover {
  transform: scale(1.08, 1.08);
  cursor: pointer;
}

.category-padding {
  padding: 30px;
}

.daily-activities .category-padding{
  border: 8px solid $daily-activities;
  border-radius: 8px;
}

.future-me .category-padding{
  border: 8px solid $future-me;
  border-radius: 8px;
}

.interactions .category-padding{
  border: 8px solid $interactions;
  border-radius: 8px;
}

.curiosity .category-padding{
  border: 8px solid $curiosity;
  border-radius: 8px;
}

.flip-card {
  perspective: 1000px;
  border-radius: 9px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
}

.flip-card-back {
  background-color: white;
  border-radius: 9px;
  transform: rotateY(180deg);
  height: 276px;
  width: 276px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daily-activities-back {
  border: 8px solid $daily-activities;
  border-radius: 8px;
  color: $daily-activities;
}

.future-me-back {
  border: 8px solid $future-me;
  border-radius: 8px;
  color: $future-me;
}

.interactions-back {
  border: 8px solid $interactions;
  border-radius: 8px;
  color: $interactions;
}

.curiosity-back {
  border: 8px solid $curiosity;
  border-radius: 8px;
  color: $curiosity;
}

.flip-card-back-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
