.titles {
  display: flex;
  justify-content: space-between;
  #right {
    padding-right: 26px;
  }
  padding-left: 5px;
}

.bottom-dash {
  display: flex;
  margin-bottom: 30px;
}

.chart-space,
.rewards {
  flex: 0 0 50%;
  padding: 20px;
}


.follow {
  margin-bottom: 8px;
  display: flex;
}

.inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.notification {
  align-items: center;
  margin-bottom: 0px;
  background: white;
  padding: 8px 16px;
  border: 2px solid rgb(235,235,235);
  border-radius: 5px;
  font-size: 24px;
  flex-grow: 1;
  margin-right: 8px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  margin: 18px;
}

.notification p {
  margin: 0px;
  line-height: 1.4;
}

.notification a {
  font-weight: bold;
  text-decoration: none;
  color: $navbar;
}

.profile {
  display: flex;
  align-items: center;
  background: white;
  width: 150px;
  padding: 8px 16px;
  border: 2px solid rgb(235,235,235);
  border-radius: 5px;
  font-size: 18px;
  position: relative;
  .avatar-small {
    margin-bottom: 5px;
    width: 55px;
    height: 55px;
  }
}
// .notification a:hover {
//   opacity: 0.8;
//   font-weight: bold;
//   text-decoration: none;
// }

.notification .notification-actions {
  opacity: 1;
  display: flex;
  transition: ease .3s;
  // flex: 0 0 20%;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 16px;
  border: none;
}

.notification .notification-actions a:hover {
  color: #82C91E;
}

.notification .notification-actions #fail:hover {
  color: #E50814;
}

.done {
  opacity: 0.5;
}

// .scrollbar {
// margin: 50px 20px 25px 18px;
// float: left;
// height: 250px;
// background: #fff;
// overflow-y: scroll;
// background-color: $background;
// }

// .scrollbar-primary::-webkit-scrollbar {
// width: 12px;
// background-color: $background;
// }

// .scrollbar-primary::-webkit-scrollbar-thumb {
// border-radius: 10px;
// -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
// background-color: $scrollbar;
// }

#polarChart {
  border-radius: 5px;
}

// .scrollbar.box {
//   width: 100%;
//   max-height: 225px;
//   // margin: 30px 10px 30px 0px;
// }

// .force-overflow.rewards {
//   min-width: 200px;
// }

.reward {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  // padding: 8px 16px;
  border-radius: 50px;
}

.reward p {
  color: #999999;
  margin: 0;
  line-height: 1.4;
  font-size: 12px;
}

.reward strong {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.progress {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
}

//background color progress bar
.progress .dailyactivities {
  background-color: $daily-activities;
}

.progress .futureme {
  background-color: $future-me;
}

.progress .interactions {
  background-color: $interactions;
}

.progress .curiosity {
  background-color: $curiosity;
}

// color for medal
// .reward .dailyactivities {
//   color: $daily-activities;
// }

// .reward .futureme {
//   color: $future-me;
// }

// .reward .interactions {
//   color: $interactions;
// }

// .reward .curiosity {
//   color: $curiosity;
// }

// .notification small a {
//   font-size: 16px;
//   color: #999999;
//   opacity: 0.6;
// }

// .notification small a:hover {
//   text-decoration: none;
//   opacity: 1;
// }

// .bronze {
//   color: $bronze;
// }

// .silver {
//  color: $silver;
// }

// .gold {
//   color: $gold;
// }

// strong.bronze {
//   color: $bronze;
// }

// strong.silver {
//   color: $silver;
// }

// strong.gold {
//   color: $gold;
// }

.dashboard-element {
  margin-left: 15px;
}
