// Specific CSS for your home-page
a:hover {
  text-decoration: none;
}

.landing-img {
  max-width: 30%;
  width: 30%;
}

// .home {
//   border-top: solid 2px $navbar;
// }

.banner {
  background: linear-gradient(to right, #c31432, #240b36);
  // background-size: cover;
  height: 60vh;
  opacity: 0.9;
  text-align: center;
  h1 {
    color: white;
  }
  h4 {
    color: white;
  }
  p {
    color: white;
  }

}
