// Specific CSS for your home-page
a:hover {
  text-decoration: none;
}

.landing-img {
  max-width: 30%;
  width: 30%;
}

// .home {
//   border-top: solid 2px $navbar;
// }

.banner {
  // background: linear-gradient(to right, #fe8c00, #F42A4D);
  // background-size: cover;
  // height: 100vh;
  // h1 {
  //   color: white;
  // }
  // h4 {
  //   color: white;
  // }
  // p {
  //   color: white;
  // }


}
