 <div class="follow done">
  <div class="notification">
    <div class="notification-content">
      <p><strong><%= participation.challenge.category %></strong></p>
      <p><%= participation.challenge.title %> | <small><%= link_to "#{participation.challenge.role_model.first_name} #{participation.challenge.role_model.last_name}", role_model_path(participation.challenge.role_model) %></small></p>
    </div>
    <div class="notification-actions">
      <p><em>Validated !</em></p>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped done-back" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
