<%= content_for(:page, "dashboard") %>

<div class="container d-flex flex-column">
  <div class="scrollbar scrollbar-primary">
    <div class="force-overflow">

      <div class="follow">
        <div class="notification">
          <div class="notification-content">
            <p><small>3rd June</small></p>
            <p><strong>Future me</strong> - Set 3 goals to achieve in 3 years</p>
          </div>
          <div class="notification-actions">
            <a href="#"><i class="far fa-check-circle fa-lg"></i></a>
            <a href="#"><i id="fail" class="far fa-times-circle fa-lg"></i></a>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="follow">
        <div class="notification">
          <div class="notification-content">
            <p><small>3rd June</small></p>
            <p><strong>Future me</strong> - Set 3 goals to achieve in 3 years</p>
          </div>
          <div class="notification-actions">
            <a href="#"><i class="far fa-check-circle fa-lg"></i></a>
            <a href="#"><i id="fail" class="far fa-times-circle fa-lg"></i></a>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="follow done">
        <div class="notification">
          <div class="notification-content">
            <p><small>3rd June</small></p>
            <p><strong>Future me</strong> - Set 3 goals to achieve in 3 years</p>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="follow done">
        <div class="notification">
          <div class="notification-content">
            <p><small>3rd June</small></p>
            <p><strong>Future me</strong> - Set 3 goals to achieve in 3 years</p>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-dash d-flex">
    <div>
      <canvas id="barChart"></canvas>
    </div>
    <div>
      <canvas id="polarChart"></canvas>
    </div>
  </div>
</div>


