<%= content_for(:page, "landing") %>
    <div class="banner">
      <div class="main-container">
        <div class="center">
          <div class="text">
            <h1>Challenger</h1>
            <h4>Become who you are</h4>
              <%= link_to "Challenge yourself !", challenges_home_path, class:"landing-btn btn ml-0" %>
          </div>
        </div>
      </div>
      <div class="logo-container">
        <div class="center">
          <%= image_tag "dragon_logo.png", class: "landing-logo animated flip" %>
        </div>
      </div>
    </div>
  </div>
