<%= content_for(:page, "home") %>
  <div class="background-color">
    <div class="banner">
      <div class="container">
        <img class="landing-img" src="/assets/dragon_blanc.png">
        <h1>Challenger</h1>
        <h4>Become who you are</h4>
          <div class="btn btn-3d ml-0">
            <%= link_to "Challenge yourself !", dashboard_path %>
          </div>
      </div>
      <div class="container">

      </div>
    </div>
  </div>
