<%= content_for(:page, "category") %>

<div class="container">
  <%= image_tag "illustrations/flamenco-logged-out.png", size: "300" %>
  <%= render 'challenges', challenges: @undone_challenges %>
</div>
