<%= content_for(:page, "category") %>

<div class="container mt-3">
  <br>
  <h1 style="text-align: center;">Feeling <strong>curious</strong> today, are we?</h1>
  <br>
  <%= render 'challenges', challenges: @undone_challenges %>
</div>
