<%= content_for(:page, "category") %>

<div class="wrapper-curiosity">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="one-challenge curiosity">
      <%= image_tag "illustrations/flamenco-logged-out.png" %>
      <%= render 'challenges', challenges: @undone_challenges %>
    </div>
    </div>
  </div>
</div>

