<%= content_for(:page, "category") %>

<div class="container mt-3">
  <br>
  <h1 style="text-align: center;">Get ready to go <strong>beyond</strong> your comfort zone!</h1>
  <br>
  <%= render 'challenges', challenges: @undone_challenges %>
</div>
