<div class="container" style="margin: 30px 0 0 50px;">
  <h1 style="margin: 30px 0;">Get ready to go <strong>beyond</strong> your comfort zone!</h1>
  <%= render 'challenges', challenges: @undone_challenges %>
</div>
