<%= content_for(:page, "category") %>

<div class="wrapper-future-me">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="one-challenge future-me">
        <%= image_tag "illustrations/flamenco-uploading-1.png" %>
        <%= render 'challenges', challenges: @undone_challenges %>
      </div>
    </div>
  </div>
</div>
