<%= content_for(:page, "category") %>

<div class="container mt-3">
  <br>
  <h1 style="text-align: center;"><strong>Social akwardness? </strong> Never heard of that</h1>
  <br>
  <%= render 'challenges', challenges: @undone_challenges %>
</div>
