<div class="container">
  <h1>You picked the category <strong>Interactions</strong></h1>
  <div class="row">

    <div class="col-8">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <% @challenges.each_with_index do |challenge, index| %>
          <% active = index == 0 ? "active" : "" %>
          <div class="carousel-item <%= active%>">
              <div class="card bg-curiosity" style="height: 500px">
                <div class="card-body">
                  <h5 class="card-title"><%= challenge.title %></h5>
                  <p class="card-text"><%= challenge.description %></p>
                  <a href="#" class="btn btn-primary">Challenge accepted!</a>
                </div>
              </div>
          </div>
          <% end %>



          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Role model</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a href="#" class="btn btn-primary">Back to challenge categories</a>
</div>
