#newchallenge {
  color: white;
  background-color: $navbar;
  margin: 10px 10px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  // animation-play-state: paused;
}

#newchallenge:hover {
  // border: 0.5px solid $dashboard;
  opacity: 0.9;
  // animation-play-state: play;
}
// landing button
.landing-btn {
  border-radius: 50px;
  background-color: #fc5c3c;
  padding: 20px 30px;
}

.btn-3d {
  position: relative;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  margin: 20px 0px;
  border-radius: 5px;
  text-align: center;
  background-color: $navbar;
}

.btn-3d:hover {
  opacity: 0.9;
  color: white;
}

.btn-remove-bookmark {
  position: relative;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  margin: 20px 0px;
  border-radius: 5px;
  text-align: center;
  background-color: lightgrey;
  opacity: 0.6;
}

.btn-remove-bookmark:hover {
  opacity: 0.8;
  color: white;
}

.bg-navbar {
  background-color: $navbar;
}

.btn-wiki {
  color: $scrollbar;
  font-weight: bolder;
}

.btn-wiki:hover {
  color: lightgrey;
    transform: translate3d(1rem, 0, 0);
}

// Boutton "Let's go!"
.btn-challenge {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    height: 55px;
    width: 150px;
    fill: none;
    stroke-width: 5;
    border-radius: 5px;

    .o1 {
      stroke: rgba(black, .7);
      fill: black;
      transition: all 1s ease-in-out;
    }

    .o2 {
      stroke: white;
      stroke-dasharray: 20 420;
      stroke-dashoffset: 20;
      transition: all 1s ease-in-out;
    }
  }

  a {
  position: absolute;
  margin: auto 0;
  text-transform: uppercase;
  color: white;
  }

  &:hover {
    .o1{
      background-color: #CC8110;
    }

    .o2 {
      stroke-dashoffset: -420;
    }
  }
}

.btn-dashboard {
  color: $navbar;
}

.btn-dashboard:hover {
  color: black;
}

