.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background-color: $navbar;
    box-shadow: 0 0 0 1px $navbar inset,
        0 0 0 2px $navbar inset,
        0 8px 0 0 #5A5362,
        0 8px 0 1px rgba(0,0,0,0.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
}

.btn-3d:active {
  box-shadow: 0 0 0 1px $navbar inset,
              0 0 0 2px $navbar inset,
              0 0 0 1px rgba(0,0,0,0.4);
  top: 9px;
  color: white;
}

.btn-3d:hover {
  color: white;
}


.bg-navbar {
  background-color: $navbar;
}

#myBtn {
  background-color: $navbar;
}

#myBtn:hover {
  color: white;
  background-color: $navbar;
  text-decoration: none;
}

.btn-wiki {
  color: $navbar;
}

.btn-wiki:hover {
  color: lightgrey;
    transform: translate3d(1rem, 0, 0);
}
