.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.model_profile_card {
  border-radius: 4px;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  // box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 20px 0;
  border-style: none;
  text-align: center;
  .card_image {
    display: inline-block;
    margin-bottom: 10px;
  }
}
// .model_profile_card .card_image {
//   width: inherit;
//   height: inherit;
//   border-radius: 30px;
// }

.model_profile_card:hover {
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // transform: translateZ(5px);
  transform: scale(1.08, 1.08);
  // border-style: solid;
}

.model_card {
  background: #FFFF;
  text-align: center;
  width: 90%;
  padding: 30px;
  margin: 55px auto;
  border-radius: 4px;
  // box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  .card_image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
    margin-bottom: 40px;
  }
  .card-text {
    text-align: justify;
    width: 85%;
    margin: 40px auto;
  }
}

.flip-card {
  background-color: transparent;
  height: 180px;
  width: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;

}

.card-category-col {
  margin-bottom: 40px;
  margin-top: 20px;
}

.card-category:hover {
  opacity: 0.8;

}

// .bg-curiosity {
//   background-color: $curiosity;
//   background:
//     radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(255, 182, 104, 0) 0)21px 30px,
//     radial-gradient(circle farthest-side at 0% 50%,$background 24%,rgba(255, 182, 104, 0) 0)19px 30px,
//     linear-gradient(#fb1 14%,rgba(255, 182, 104, 0) 0, rgba(255, 182, 104, 0) 85%,#fb1 0)0 0,
//     linear-gradient(150deg,#fb1 24%,$background 0,$background 26%,rgba(255, 182, 104, 0) 0,rgba(255, 182, 104, 0) 74%,$background 0,$background 76%,#fb1 0)0 0,
//     linear-gradient(30deg,#fb1 24%,$background 0,$background 26%,rgba(255, 182, 104, 0) 0,rgba(255, 182, 104, 0) 74%,$background 0,$background 76%,#fb1 0)0 0,
//     linear-gradient(90deg,$background 2%,#fb1 0,#fb1 98%,$background 0%)0 0 #fb1;
//   background-size: 40px 60px;
// }

.bg-curiosity {
  background-color: $curiosity;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, $navbar 25%, transparent 25.5%, transparent 75%, $navbar 75%, $navbar),
  linear-gradient(60deg, $navbar 25%, transparent 25.5%, transparent 75%, $navbar 75%, $navbar);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.bg-dailyactivities {
  background-color: $daily-activities;
  background-image:
  radial-gradient($navbar 9px, transparent 10px),
  repeating-radial-gradient($navbar 0, $navbar 4px, transparent 5px, transparent 20px, $navbar 21px, $navbar 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
}

.bg-futureme {
  background-color: $future-me;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(255, 255, 255, 0.3) 99%),
  radial-gradient(closest-side, transparent 98%, rgba(255, 255, 255, 0.3) 99%);
  background-size:80px 80px;
  background-position:0 0, 40px 40px;
}

.bg-interactions {
  background-color: $interactions;
  background-image:
    radial-gradient(circle at 100% 150%, $interactions 24%, $navbar 25%, $navbar 28%, $interactions 29%, $interactions 36%, $navbar 36%, $navbar 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $interactions 24%, $navbar 25%, $navbar 28%, $interactions 29%, $interactions 36%, $navbar 36%, $navbar 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $navbar 10%, $interactions 11%, $interactions 23%, $navbar 24%, $navbar 30%, $interactions 31%, $interactions 43%, $navbar 44%, $navbar 50%, $interactions 51%, $interactions 63%, $navbar 64%, $navbar 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $navbar 5%, $interactions 6%, $interactions 15%, $navbar 16%, $navbar 20%, $interactions 21%, $interactions 30%, $navbar 31%, $navbar 35%, $interactions 36%, $interactions 45%, $navbar 46%, $navbar 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $navbar 5%, $interactions 6%, $interactions 15%, $navbar 16%, $navbar 20%, $interactions 21%, $interactions 30%, $navbar 31%, $navbar 35%, $interactions 36%, $interactions 45%, $navbar 46%, $navbar 49%, transparent 50%, transparent);
  background-size: 100px 50px;
}

.padd {
  padding: 60px 60px;
  text-align: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 70px;
}


.flip-card-back {
  transform: rotateY(180deg);
  background-color: white;
  color: black;
}
