.card-challenge {
  width: 700px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.flip-card {
  background-color: transparent;
  height: 180px;
  width: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.card-category-col {
  margin-bottom: 40px;
  margin-top: 20px;
}

.card-category:hover {
  opacity: 0.8;
}

.bg-curiosity {
  background-color: transparent;
  border-color: $curiosity;
  border-radius: 5px;
  border: solid 3px;
}

.bg-dailyactivities {
  background-color: transparent;
  border-color: $daily-activities;
  border-radius: 5px;
  border: solid 3px;
}

.bg-futureme {
  background-color: transparent;
  border-color: $future-me;
  border-radius: 5px;
  border: solid 3px;
}

.bg-interactions {
  background-color: transparent;
  border-color: $interactions;
  border-radius: 5px;
  border: solid 3px;
}

.padd {
  padding: 60px 60px;
  text-align: center;
}

// .padd img{
//   padding: 10px;
//   max-width: 100px;
//   max-height: 100px;
// }


.card-inside-color-futureme,
.card-inside-color-dailyactivities,
.card-inside-color-interactions,
.card-inside-color-curiosity {
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  color: black;
  border-radius: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  text-shadow: $navbar 1px 0 10px;
  color: black;
  h3.m-0 {
    font-weight: 700;
    letter-spacing: .1rem;
  }
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 70px;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: white;
  color: black;
  font-size: 16px;
  align-items: center;
}

.back-color-daily-acitivities{
  background-color: $daily-activities;
}

.back-color-future-me {
  background-color: $future-me;
}

.back-color-interactions {
  background-color: $interactions;
}

.back-color-curiosity {
  background-color: $curiosity;
}
