.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.model_profile_card {
  border-radius: 4px;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  // box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 20px 0;
  border-style: none;
  text-align: center;
  border-top: solid 15px;
  border-color: $scrollbar;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .card_image {
    display: inline-block;
    margin-bottom: 10px;
  }
}

// .model_profile_card .card_image {
//   width: inherit;
//   height: inherit;
//   border-radius: 30px;
// }
.model_profile_card:hover {
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // transform: translateZ(5px);
  transform: scale(1.08, 1.08);
}
.link-wiki {
  display: flex;
  justify-content: flex-end;
}

hr {
  width: 30%;
  color: $scrollbar;
  border: solid 1.5px;
}


.model_card {
  background: #FFFF;
  // border: solid 25px;
  // border-color: $scrollbar;
  background-color: $scrollbar;
  text-align: center;
  width: 90%;
  padding: 20px;
  margin: 55px auto;
  border-radius: 4px;
  // box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  .card_image img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
    display: inline-block;
    margin-bottom: 40px;
  }
  .card-text {
    text-align: justify;
    width: 90%;
    margin: 40px auto;
  }
  .btn-3d {
    margin: 10px 10px -10px !important;
  }
}

// End of cards for role model
//
// Start of cards for challenges and categories of challenges

.border {
  border-radius: 3px;
  background-color: white;
  padding: 15px 40px 40px 40px;
}

.flip-card {
  background-color: transparent;
  height: 180px;
  width: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;

}

.card-category-col {
  margin-bottom: 40px;
  margin-top: 20px;
}

.card-category:hover {
  opacity: 0.8;

}

.bg-curiosity {
  background-color: #B77700;
  background-image: linear-gradient(30deg, $curiosity 12%, transparent 12.5%, transparent 87%, $curiosity 87.5%, $curiosity),
  linear-gradient(150deg, $curiosity 12%, transparent 12.5%, transparent 87%, $curiosity 87.5%, $curiosity),
  linear-gradient(30deg, $curiosity 12%, transparent 12.5%, transparent 87%, $curiosity 87.5%, $curiosity),
  linear-gradient(150deg, $curiosity 12%, transparent 12.5%, transparent 87%, $curiosity 87.5%, $curiosity),
  linear-gradient(60deg, $navbar 25%, transparent 25.5%, transparent 75%, $navbar 75%, $navbar),
  linear-gradient(60deg, $navbar 25%, transparent 25.5%, transparent 75%, $navbar 75%, $navbar);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

// #815234

.bg-dailyactivities {
  background-color: $daily-activities;
  background-image:
  radial-gradient($navbar 9px, transparent 10px),
  repeating-radial-gradient($navbar 0, $navbar 4px, transparent 5px, transparent 20px, $navbar 21px, $navbar 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
}

.bg-futureme {
  background-color: $future-me;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(255, 255, 255, 0.3) 99%),
  radial-gradient(closest-side, transparent 98%, rgba(255, 255, 255, 0.3) 99%);
  background-size:80px 80px;
  background-position:0 0, 40px 40px;
}

.bg-interactions {
  background-color: $interactions;
  background-image:
    radial-gradient(circle at 100% 150%, $interactions 24%, $navbar 25%, $navbar 28%, $interactions 29%, $interactions 36%, $navbar 36%, $navbar 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $interactions 24%, $navbar 25%, $navbar 28%, $interactions 29%, $interactions 36%, $navbar 36%, $navbar 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $navbar 10%, $interactions 11%, $interactions 23%, $navbar 24%, $navbar 30%, $interactions 31%, $interactions 43%, $navbar 44%, $navbar 50%, $interactions 51%, $interactions 63%, $navbar 64%, $navbar 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $navbar 5%, $interactions 6%, $interactions 15%, $navbar 16%, $navbar 20%, $interactions 21%, $interactions 30%, $navbar 31%, $navbar 35%, $interactions 36%, $interactions 45%, $navbar 46%, $navbar 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $navbar 5%, $interactions 6%, $interactions 15%, $navbar 16%, $navbar 20%, $interactions 21%, $interactions 30%, $navbar 31%, $navbar 35%, $interactions 36%, $interactions 45%, $navbar 46%, $navbar 49%, transparent 50%, transparent);
  background-size: 100px 50px;
}

.padd {
  padding: 60px 60px;
  text-align: center;
}

.padd img{
  padding: 10px;
  max-width: 100px;
  max-height: 100px;
}

.card-inside-color-curiosity {
  background-color: $curiosity;
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.card-inside-color-interactions {
  background-color: $interactions;
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.card-inside-color-futureme {
  background-color: $future-me;
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.card-inside-color-dailyactivities {
  background-color: $daily-activities;
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  text-shadow: $navbar 1px 0 10px;
  h3.m-0 {
    font-weight: 700;
    letter-spacing: .1rem;
  }
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 70px;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: white;
  color: black;
  font-size: 16px;
  align-items: center;
}

.back-color-daily-acitivities{
  background-color: $daily-activities;
}

.back-color-future-me {
  background-color: $future-me
}

.back-color-interactions {
  background-color: $interactions;
}

.back-color-curiosity {
  background-color: $curiosity;
}

.card-challenge {
  max-width: 700px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
