.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 7px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-left: 7px solid
}

.border-dailyactivities {
  border-color: $daily-activities;
}

.border-futureme {
  border-color: $future-me;
}

.border-curiosity {
  border-color: $curiosity;
}

.border-interactions {
  border-color: $interactions;
}

.color-dailyactivities {
  color: $daily-activities;
}

.color-futureme {
  color: $future-me;
}

.color-curiosity {
  color: $curiosity;
}

.color-interactions {
  color: $interactions;
}


.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0, 0, 10px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  max-width: 750px;
}

.card-trip-pricing {
  padding: 20px;
  min-width: 100px;
}

.card-trip-pricing img{
  padding-bottom: 1px;
  margin-left: -1px;
}
