.navbar-challenger {
  justify-content: space-between;
  background-color: transparent;
  background: transparent;
}

.navbar-challenger .navbar-collapse {
  flex-grow: 0;
}

.navbar-challenger .navbar-brand img {
  // width: 40px;
}

// .dropdown-item {
//   opacity: 0.7;
// }

// .dropdown-item:hover {
//   opacity: 1;
// }

// .dropdown-toggle {
//   border: none;
//   background-color: transparent;
// }

// .dropdown-toggle::after {
//   display:none;
// }

// .dropdown-toggle:hover {
//   border: none;
//   background-color: transparent;
// }

// .wrapper {
//   display: flex;
//   width: 100%;
//   align-items: stretch
// }

// .nav-link {
//     min-width: 250px;
//     max-width: 250px;
//     min-height: 100vh;
// }

// .nav-link.active {
//     margin-left: -250px;
// }

// @media (max-width: 768px) {
//     .nav-link {
//         margin-left: -250px;
//     }
//     .nav-link.active {
//         margin-left: 0;
//     }
// }
