.nav {
  position: relative;
  position: sticky;
  width: 200px;
  height: 100vh;
}

.menu {
  height: 70vh;
  width: 100%;
}

.logo {
  text-align: center;
  margin: 30px 80px;
  width: 20px;
  height: 20px;
  color: $dashboard;
  font-size: 30px;
}

.logo-d,
.logo-j {
  margin: 15px 40px 10px 19px;
}

.logo-c, {
  margin: 15px 43px 10px 19px;
}


.logo-n {
  margin: 15px 26px 10px 19px;
}

.logo-i {
  margin: 15px 43px 10px 22px;
}

.logo-s {
  margin: 15px 40px 0px 20px;
}

#collapse {
  color: $dashboard;
  margin: 20px 80px;
}

a.navlink.new {
  color: white;
  background-color: $dashboard;
  margin: 30px 20px;
  padding-bottom: 2px;
  border-radius: 4px;
  opacity: 0.8;
}

a.navlink.new:hover {
  // border: 0.5px solid $dashboard;
  // background-color: transparent;
  // color: $dashboard;
  opacity: 1;
}

a.navlink {
  color: $dashboard;
  width: 100%;
}

a.navlink:hover {
  color: white;
  font-style: bold;
  background-color: $dashboard;
  text-decoration: none;
}

a.navlink.active {
  border-left: 7px solid $dashboard;
  // color: white;
  // font-style: bold;
  // background-color: $dashboard;
  // text-decoration: none;
}

.log > .logo-s {
  position: absolute;
  bottom: 0;
  margin: 15px 33px 15px 22px;
}
