.nav {
  position: relative;
  position: sticky;
  width: 200px;
  height: 100vh;
  background-color: $navbar;
}

.menu {
  height: 70vh;
  width: 100%;
}

.logo {
  margin: 30px 60px;
  animation-play-state: paused;

}

.logo:hover {
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.user-id {
  margin-top: 20px;
  border-top: 0.2px solid $dashboard;
  padding-top: 5px;
  width: 100%;
}

.online-badge {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #39E500;
  margin: 8px 10px 0px 50px;
}

.logo-d,
.logo-j {
  margin: 15px 40px 10px 19px;
}

.logo-c, {
  margin: 15px 43px 10px 19px;
}


.logo-n {
  margin: 15px 26px 10px 19px;
}

.logo-i {
  margin: 15px 43px 10px 22px;
}

.logo-s {
  margin: 15px 40px 0px 20px;
}

#collapse {
  color: $dashboard;
  margin: 20px 80px;
}

a.navlink.new {
  color: $navbar;
  background-color: white;
  margin: 20px 20px;
  padding-bottom: 2px;
  border-radius: 4px;
  opacity: 0.8;
  // animation-play-state: paused;
}

a.navlink.new:hover {
  // border: 0.5px solid $dashboard;
  opacity: 1;
  // animation-play-state: play;
}

a.navlink {
  color: $dashboard;
  width: 100%;
}


a.navlink:hover {
  color: $navbar;
  font-style: bold;
  background-color: $dashboard;
  text-decoration: none;
}

a.navlink.active {
  border-left: 7px solid $dashboard;
  // color: white;
  // font-style: bold;
  // background-color: $dashboard;
  // text-decoration: none;
}

.log > .logo-s {
  position: absolute;
  bottom: 0;
  margin: 15px 33px 15px 22px;
}

a.navlink.bottom {
  margin-top: 200px;
  padding-bottom: 5px;
}

.navbar-logo {

}
